:root {
  --column:"2";
}
.container{
  background-color: white !important;
}
.example {
  display: flex
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-card {
   width: 90%;
   max-height: 90%;
  }
  .card-header {
    height: 150 px;
    display:block;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  a{
   text-decoration:none;
  }
#tool{
  color: white!important;
}
  .image {
    object-fit: contain;
    width: 100%;
    max-height: 150px;
  }
  .container {
    height: 100vh; 
    background-color: #e3e3e3;
    display: flex; 
    align-items: center;
  }

  ::ng-deep .dx-tile-content .dxi-item {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
 
  }
  ::ng-deep .dx-tile{
    border: 1px solid  #212529 !important;
    border-radius: 4pt;
  }
  .mat-mdc-card-outlined {
    border: none !important;
  }