
  <div class="input-group" style="margin-top: 10px; margin-right: 20px; display: flex; justify-content: end;">
    <div class="form-outline">
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        [(ngModel)]="term"
        (input)="search()"
        value="term"
      />
    </div>
    <button type="button" class="btn btn-primary input-group-append" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </div>



<dx-tile-view class="dx-tile-content"  direction="vertical" 
itemTemplate="list-item"
#tileView
  [height]=700
  [baseItemHeight]="450"
  [baseItemWidth]="277"
  [itemMargin]="40"
  width="100%"
>
  <dxi-item
    *ngFor="let news of newspaper$ | async"
    [widthRatio]= "news.multimedia[0].width/1590"
    [heightRatio]= "news.multimedia[0].height/2048"
  >
  <a [routerLink]="['/news', news._id]">
 <mat-card class="example-card" appearance="outlined">
    <!-- <mat-card-header class="card-header">  -->
      <h4 style="text-align: center;" class="mt-4"> {{ news.title }}</h4>
      <mat-card-subtitle class="mb-4" style="text-align: center;">{{ news.byline }}</mat-card-subtitle>
    <!-- </mat-card-header> -->
    <div class="container">
      <img
        mat-card-image
        [src]="news.multimedia[0].url"
        alt="Photo of a Shiba Inu"
        class="image"
      />
    </div>
    <mat-card-content>
      <p>
        {{ news.abstract }}
      </p>
    </mat-card-content>
    
      <button style="text-align: left;" class="btn btn-link">See More..</button>
  
  </mat-card>
  </a>
  </dxi-item>
</dx-tile-view>
