<div style="margin-top: 10px; margin-right: 20px; float: right">
  <div class="input-group">
    <div class="form-outline">
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        [(ngModel)]="term"
        (input)="search()"
        value="term"
      />
    </div>
    <button type="button" class="btn btn-primary input-group-append" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>


<mat-grid-list [cols]="column" style="margin-top: 30px">
  <div *ngFor="let news of newspaper$ | async">
    <a [routerLink]="['/news', news._id]">
      <mat-grid-tile class="card-title">
        <mat-card class="example-card">
          <mat-card-header class="card-header">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> {{ news.title }}</mat-card-title>
            <mat-card-subtitle>{{ news.byline }}</mat-card-subtitle>
          </mat-card-header>
          <div class="container">
            <img
              mat-card-image
              [src]="news.multimedia[0].url"
              alt="Photo of a Shiba Inu"
              class="image"
            />
          </div>
          <mat-card-content>
            <p>
              {{ news.abstract }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>See More..</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </a>
  </div>
</mat-grid-list>


