
    .example-card {
       width: 100%;
      max-height: 100%;
      overflow: hidden; 
    }
    
    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
    a{
     text-decoration:none;
    }
  #tool{
    color: white!important;
  }
  img{
    background-size: cover;
    width: 80%;
  }