:root {
  --column:"2";
}
.example {
  display: flex
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-card {
   width: 90%;
   max-height: 90%;
  }
  .card-header {
    height: 150 px;
    display:block;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  a{
   text-decoration:none;
  }
#tool{
  color: white!important;
}
  .image {
    
    /* overflow:hidden;
    display:block; */
    background-size: cover;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .container {
    height: 100vh; 
    background-color: #e3e3e3;
    display: flex; 
    align-items: center;
  }