<div>
<mat-toolbar color="primary" class="d-flex">
<div class="flex-fill">Home</div>
  <div  *ngFor="let category of categories" class="flex-fill">
{{category}}
</div>
</mat-toolbar>
</div>
<div>
<mat-grid-list cols="4" >
  <div  *ngFor="let news of newspaper$ | async">
    <a   [routerLink]="['/news', news.section]">
  <mat-grid-tile> 
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> {{ news.title }}</mat-card-title>
        <mat-card-subtitle>{{ news.byline }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]='news.multimedia[0].url' alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         {{news.abstract}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>See More..</button>
      </mat-card-actions>
    </mat-card>
   
  </mat-grid-tile>
</a>
</div>
</mat-grid-list>
</div>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
  <span matPrefix> </span>
  <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
  <button matSuffix mat-button><mat-icon >search</mat-icon></button>
  </mat-form-field>
  <br/>
</form> -->
