.test{
    color: red;
}
a{
    text-decoration:none;
   }
 #tool{
   color: white!important;
 }
 footer{
  position:fixed;
  bottom:0px;
  width:100%;
  background-color: #1371C3;
  color: white;
  }