<!-- search bar -->

<div class="input-group">
  <div class="form-outline">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="term"
      (input)="search()"
      value="term"
      class="input-bar"
    />
  </div>
  <button type="button" class="input-group-append" (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
</div>


<!-- List View -->
<dx-tile-view
  class="dx-tile-content"
  direction="vertical"
  itemTemplate="list-item"
  #tileView
  [height]="700"
  [baseItemHeight]="450"
  [baseItemWidth]="277"
  [itemMargin]="40"
  width="100%"
>
  <dxi-item
    *ngFor="let news of newspaper$ | async"
  >
    <a [routerLink]="['/news', news._id]">
      <h4 class="card-title text-center">{{ news.title }}</h4>
      <h6 class="mb-4 text-center">{{ news.byline }}</h6>
      <div class="container">
        <img
          [src]="news.multimedia[0].url"
          alt="Photo of a Shiba Inu"
          class="image"
        />
        <p class="abstract">
          {{ news.abstract }}
        </p>

        <div class="see-more">See More..</div>
      </div>
    </a>
  </dxi-item>
</dx-tile-view>
